[program:minecraft]
directory={{ install_dir }}
command=java -server -Xms{{ java_min_memory }} -Xmx{{ java_max_memory }} -XX:+UseG1GC -jar {{ install_dir }}/minecraft_server.1.18.2.jar nogui
user={{ mc_user }}
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/error_minecraft.log
stderr_logfile_maxbytes=100MB
stdout_logfile=/var/log/supervisor/out_minecraft.log
stdout_logfile_maxbytes=100MB
