[program:minecraft]
directory=/opt/minecraft/
command=java -server -Xms2048M -Xmx2048M -XX:+UseG1GC -jar /opt/minecraft/minecraft_server.1.18.2.jar nogui
user={{ mcUser }}
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/error_minecraft.log
stderr_logfile_maxbytes=100MB
stdout_logfile=/var/log/supervisor/out_minecraft.log
stdout_logfile_maxbytes=100MB
